* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.services,
.products,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
 .services {
  /* background-image: url('/Images/imageJ.jpg'); */
  background-image: url('https://img2.goodfon.com/wallpaper/nbig/0/15/napitki-kokteyli-summer.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
} 
.products {
  background-image: url('https://s1.1zoom.me/big0/920/382478-svetik.jpg');
  /* background-image: url('/Images/imageA.jpg'); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  background-image: url('https://media-cdn.tripadvisor.com/media/photo-s/11/26/a0/b7/tropical-cocktails.jpg');
  /* background-image: url('/images/imageF.jpg'); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}   
